<html>
<head>
<meta charset="utf-8"><!--converting machine readable code-->
<meta content="IE-edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta content="width=device-width, intial-scale=1.0" name="viewport">
<title>Shopping Website</title>
<link rel="stylesheet" href="dist/css/bootstrap.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<!--fav-icon---------------->

	<!--style----->
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
</style>
	
</head>
<body>
	<div class="container-fluid">
	<nav> 
		<!--social-links-and-phone-number----------------->
 <div class="social-call" style="background-color: #0b9d8a;">
	 <!--social-links--->
	 <div class="social">
		 <a href="#"><i class="fab fa-facebook-f"></i></a>
		 <a href="#"><i class="fab fa-twitter"></i></a>
		 <a href="#"><i class="fab fa-youtube"></i></a>
		 <a href="#"><i class="fab fa-instagram"></i></a>
	 </div>
	 <!--phone-number------>
	 <div class="phone">
		 <span>Call: +123456789</span>
	 </div>
 </div>
 <!--menu-bar----------------------------------------->
 <div class="navigation">
	 <!--logo------------>
	 <div>
		<a href="#" class="logo"><img src="images/logo.png"></a>
		<div><strong style="color: #0b9d8a;font-size:20px;float:left"> PlantLUX</strong></div>
		
	 </div>
	 
	 
	 
	
	 <!--menu-icon------------->
	 
	 <!--right-menu----------->
	 <div class="right-menu">
		 <a href="javascript:void(0);" class="user" id="loginicon" style="visibility: visible;">
			LOGIN
			</a>
		<a href="#">
			<i class="fas fa-home"></i>
		</a>
		 
		 <a style="visibility:hidden" role="button" id="dropdownMenuLinkk" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
			 <i class="far fa-user"></i>
			 <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkk">
				<li><a class="dropdown-item" href="#"><h5 id="ead">email address</h5></a></li>
				<li><a class="dropdown-item" href="#">My orders</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#"><h5>Log Out</h5></a></li>
			  </ul>
		 </a>
		

		 <a href="javascript:void(0);" class="search">
			 <i class="fas fa-search"></i>
		 </a>
		 <a href="#">
			 <i class="fas fa-shopping-cart">
				 <span class="num-cart-product">0</span>
			 </i>
		 </a>
	 </div>
	 </div>
 </nav>
</div>
 <div class="search-bar">
    
	<!--search-input------->
	<div class="search-input">
	<input type="text" placeholder="Search For Product" name="search" />
	<!--cancel-btn--->
	<a href="javascript:void(0);" class="search-cancel">
		<i class="fas fa-times"></i>
	</a>

</div>
</div>
<div class="form">
	<!--login---------->
	<div class="login-form">
		<!--cancel-btn---------------->
		<a href="javascript:void(0);" class="form-cancel">
			<i class="fas fa-times"></i>
		</a>
		<strong>Log In</strong>
		<!--inputs-->
		<form id="login">
		
			<input type="email" id="loginemail" name="email" placeholder="Example@gmail.com" required/>
			<label id="uemail" style="color:red; visibility: hidden;font-size: small;">Invalid email address</label>
			<input type="password" id="loginpassword" name="password" placeholder="Password" required/>
			<label id="upassword" style="color:red; visibility: hidden;font-size: small;">Invalid Password</label>
			
			
			<input type="submit" value="Login" id="nb"/>
			<div id="logwarn" style="visibility: hidden;" class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
				<div>
				  Login failed..PLease try again.
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			  </div>	
			<!--<input class="logb" type="submit" value="Log In"/>-->
		</form>
		<!--forget-and-sign-up-btn-->
		<div class="form-btns">
			<a href="#" class="forget">Forget Your Password?</a>
			<a href="javascript:void(0);" class="sign-up-btn">Create Account</a>
		</div>
	</div>
		<!--Sign-up---------->
		<div class="sign-up-form">
			<!--cancel-btn---------------->
		<a href="javascript:void(0);" class="form-cancel">
			<i class="fas fa-times"></i>
		</a>
			<strong>Sign Up</strong>
			<!--inputs-->
			<form onsubmit="return sign()" method="POST" action="/signup"> 
				<input id="signtext" type="text" name="fullname" placeholder="Full Name" required/>
				<label id="ustext" style="color:red; visibility: hidden;font-size: small;">Invalid Name</label>
				<input type="email" id="signemail" name="sigemail" placeholder="Example@gmail.com" required/>
				<label id="usemail" style="color:red; visibility: hidden;font-size: small;">Invalid email address</label>
				<input id="signpass" type="password" name="sigpassword" placeholder="Password" required/>
				<label id="uspass" style="color:red; visibility: hidden;font-size: small;">Invalid password</label>
				<input type="submit" value="Signup"/>
			</form>

			<!--forget-and-sign-up-btn-->
			<div class="form-btns">
				<a href="javascript:void(0);" class="already-account">
					Already Have Account?</a>

			</div>

		</div>
</div>


<nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
	
	{{#if title}}<a class="navbar-brand" href="#">{{title}}</a>{{/if}}
</nav>
<!---test-->
<div class="container" style="margin-top:10px">
	<div class="row">
{{#if result}}
    {{#each result}}
	
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="margin-top:20px">	
		<div class="card" style="width: 16rem;">
		<img  class="mx-auto d-block img-fluid" style="height:190px; width:200px;margin-top:10px" class="card-img-top" src="{{{this.image}}}" alt="Card image cap">
		<div class="card-body tdiv">
	  
	  <div class="titem" style="font-size: smaller;">{{this.item_id}}</div>
	  <h4  style="font-size: smaller;">{{this.description}}</h4>
	  <p><strong style="font-size: smaller;">Rs. {{this.price}}.00</strong></p>
	  <div>
	  <a class="btn tbutton" href="/buyer/{{{this.item_id}}}" style="background-color: #ffce33;font-size: smaller;">Buy Now</a>
	  <a href="/cart/{{{this.item_id}}}" class="btn" style="background-color:  #f75341;font-size: smaller;">Add to Cart</a>
	</div>
	</div>
  </div>
</div>


	{{/each}}
  {{/if}}

<!---nn-->
</div>
</div>
	
<nav aria-label="..." style="margin-top:20px" class="navbar justify-content-center">
	<ul class="pagination">
	  <li class="page-item disabled">
		<a class="page-link" href="#" tabindex="-1">Previous</a>
	  </li>
	  <li class="page-item"><a class="page-link" href="#">1</a></li>
	  <li class="page-item active">
		<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="page-item"><a class="page-link" href="#">3</a></li>
	  <li class="page-item">
		<a class="page-link" href="#">Next</a>
	  </li>
	</ul>
  </nav>
</body>
  <!--using FontAwesome--------------->
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="jquery.js"></script>
  <script src="dist/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function sign()
	{
		var uname=document.getElementById("signtext").value;
	   var uemail=document.getElementById("signemail").value;
	   var upass=document.getElementById("signpass").value;
	   alert(uname);
	   alert(uemail);
	   alert(upass);

	   var regex1= new RegExp("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$");
	   var regex2= new RegExp("^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%@&?]).*$");
	   var regex3=new RegExp("^[a-zA-Z]+ [a-zA-Z]+$");
	   let wrong=0;
	   if(!regex3.test(uname))
	   {	
		   signtext.style.border="solid 3px red";
		   document.getElementById('ustext').style.visibility='visible';
		   wrong+=1;
		   alert("inc un");
	   }
	  
	   if(!regex1.test(uemail))
	   {	
		   signemail.style.border="solid 3px red";
		   document.getElementById('usemail').style.visibility='visible';
		   wrong++;
		   alert("inc ue");
	   }
	   
	   if(!regex2.test(upass))
	   {	
		   signpass.style.border="solid 3px red";
		   document.getElementById('uspass').style.visibility='visible';
		   alert("inc np");
		   wrong++;
	   }
	   
	   if(wrong==0)
	   {
		   return true;
		   
	   }
	   else
	   {
		   return false;
	   }
	  
	}
</script>
<script>
	$(document).ready(function(){
		if(sessionStorage.getItem("email")!=undefined  || sessionStorage.getItem("email")!=null)
		{
			$("#loginicon").attr("style","visibility:hidden");
			$("#dropdownMenuLinkk").attr("style","visibility:visible");
			$("#ead").text(sessionStorage.getItem("email"));	
			
		}
	    $(document).on('click','.search',function(){
        $('.search-bar').addClass('search-bar-active')
    });
 
    $(document).on('click','.search-cancel',function(){
        $('.search-bar').removeClass('search-bar-active')
    });
	$(document).on('click','.user,.already-account',function(){
        $('.form').addClass('login-active').removeClass('sign-up-active')
    });
 
    $(document).on('click','.sign-up-btn',function(){
        $('.form').addClass('sign-up-active').removeClass('login-active')
    });
 
    $(document).on('click','.form-cancel',function(){
        $('.form').removeClass('login-active').removeClass('sign-up-active')
    });
	$("#nb").click(function(e){
			e.preventDefault();
  		$.post("/checklogin",
  		{
    		email: loginemail.value,
    		password: loginpassword.value
  		},
  		function(data, status){
    	
		const myobj=jQuery.parseJSON(data);
		if(myobj.flag==1)
		{
			
			$("#loginalert").attr("style","visibility:visible");
			$("#loginicon").attr("style","visibility:hidden");
			$('.form').removeClass('login-active');
			alert("You Successfully logged to PlantLUX!");
			
		
  // Store
  		sessionStorage.setItem("username", myobj.username);
		  sessionStorage.setItem("email", myobj.email);
		  sessionStorage.setItem("phone_no", myobj.phone_no);
		  sessionStorage.setItem("address", myobj.address);
		  
		  $("#dropdownMenuLinkk").attr("style","visibility:visible");
		  $("#ead").text(myobj.email);	
		
  // Retr
  // Retrieve
  		
		} 
	else (myobj.flag==2 || myobj.flag==3)
	{ 
		
		$("#logwarn").attr("style","visibility:visible");
		myobj.flag=0;
	}
		
	
	
	});
	});
//------------
	$(".tbutton").on("click",function(){
		
		
		
		if(sessionStorage.getItem("email")==undefined || sessionStorage.getItem("email")==null)
		{
			 $('.form').addClass('login-active');
			 
		}
		else
		{
		var t=$(this).closest('.tdiv').children('.titem').text();
		
		
		}
	});
		
	
	});
	
	

  

</script>
<script>

</script>

  </html>