<html>
<head>
<meta charset="utf-8"><!--converting machine readable code-->
<meta content="IE-edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta content="width=device-width, intial-scale=1.0" name="viewport">
<title>Shopping Website</title>
<link rel="stylesheet" href="dist/css/bootstrap.css">
<link rel="stylesheet" href="style.css">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    



<!--fav-icon---------------->

	<!--style----->
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
</style>
	
</head>
<body>
	<div class="container-fluid">
	<nav> 
		<!--social-links-and-phone-number----------------->

 <!--menu-bar----------------------------------------->
 <div class="navigation">
	 <!--logo------------>
	 <div>
		<a href="#" class="logo"><img src="images/logo.png"></a>
		<div><strong style="color: #0b9d8a;font-size:20px;float:left"> PlantLUX</strong></div>
		
	 </div>
	 <!--menu-icon------------->
	 
	 <!--right-menu----------->
	 <div class="right-menu">
		 <a href="javascript:void(0);" class="search">
			 <i class="fas fa-home"></i>
		 </a>
         <a href="javascript:void(0);" class="search">
            <i class="fas fa-user"></i>
        </a>
         <a href="javascript:void(0);" class="search" id="user">
            <i class="fas fa-user"></i>
        </a>
		
	 </div>
	 </div>
 </nav>
 <nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
	
	<a class="navbar-brand" href="#">My Cart</a>({{#if result}}{{result.length}}{{/if}})
</nav>
</div>
<div class="container">
    {{#if result}}
    {{#each result}}
      <div class="card" style="margin-top:10px">
        <div class="card-header">
          item name ex: bonsai tree 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-5">
                    <img src="{{{this.image}}}" style="width:100px;height:100px" alt="">
                </div>
                <div class="col-4">
                    <h6>Item description:{{this.description}}</h6>
                    <h6 style="color:red"> Rs.{{this.price}}.00</h6>
                    <h6>Qty:1</h6>
                </div>
                
                <div class="col-3">
                    
                    <a class="btn btn-outline-success" href="/buyer/{{{this.item_id}}}"><i class="fa fa-check-circle-o" aria-hidden="true"></i>  Order Now</a>
                    <a class="btn btn-outline-danger" href="/cartdelete/{{{this.cart_item_id}}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                
                
            </div>
            
          </blockquote>
        </div>
      </div>
      {{/each}}
      {{/if}}
      <hr class="my-4">

      

</div>


 


</body>
  <!--using FontAwesome--------------->
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="jquery.js"></script>
  <script src="dist/js/bootstrap.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
$("#user").text(sessionStorage.getItem("email"));
  })
</script>
  </html>